/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

#masthead nav ul li {
	float: left;
	margin: 0 10px 0 0;
}

ul#menu-top-nav {
    margin: 0;
}
ul#menu-top-nav.nav-menu a {
	margin: 0 20px 0 0;
	text-transform: uppercase;
}
.site-title {
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}


/* Blog post on Homepage */


.blog-post {
	width: 50%;
	
}

.blog-post h4 {
	font-size: 18px;
	font-family: 'Shanti', sans-serif;
	color: #a6a6a6;
	text-align: left;
	text-transform: uppercase;
}

.blog-post h2 {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1.2px;
}
div.blot-post p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.2px;
}
a.read-more-link {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}

/* Case Studies on Homepage */


.featured-work {
    width: 1200px;
    margin:auto;
}

ul.homepage-featured-work {
	list-style-type: none;
    margin: 0 0 24px 60px;
}
.homepage-featured-work img {
	width: 300px;
	height: 221px;
	
}
li.individual-featured-work {
    display: inline-block;
    margin: 0 30px;
}

.site-content {
	width: 1200px;
   /* margin: auto;*/
    padding: 0 10px;
	
}
div.site-content h4 {
	text-align: center;
    font-size: 20px;
    line-height: 1.2;
	text-transform: uppercase;
    margin: 0 0 44px 0;
}
div.blog-post h4 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
    line-height: 1.2;
    margin: 40px 0 44px 0;
}

div.blog-post p {
	    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 85%;
    margin: 40px 0 25px 0;
	
}
a.read-more-link {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #45ac9d;
    text-transform: uppercase;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;
}

section.recent-posts {
	margin: 0 160px;
}
.site-footer {
    clear: both;
	width: auto;
    color: #909090;
    font-size: 15px;
    line-height: 1.5;
    margin: 40px 160px;
}
/* Case Studies Single*/

article.case-study {
	margin: 40px 0 0;
}

aside.case-study-sidebar {
	float: left;
	width: 340px;
	margin: 0 10px 0 65px;
}

div.case-study-images {
	float: left;
	width: 610px;
	margin-bottom: 50px;
	border: 1px solid #dddddd;
}


/* Case Studies Archive Page */

div#primary.site-content {
	width: 1200px;
    margin: 0 125px;
}
aside.case-study-sidebar {
	margin: 20px 40px 0 60px;
}
div.case-study-images {
	margin: 40px 0 40px 0;
}
.case-study-sidebar h2 a {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 600;
}
.case-study-sidebar h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #a6a6a6;
	margin: 10px 0 20px;
}

.case-study-sidebar p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

/* Contact Us Page */

div#primary.site-content.contact-form {
	width: 700px;
	margin: 0 350px 0 275px;
}
div#content h2 {
	font-family: 'Open Sans', sans-serif;
}
label#ninja_forms_field_1_label {
	float: left;
	margin: 0 0 10px 0;
	
}
div#ninja_forms_field_1_div_wrap.field-wrap.text-wrap.label-above {
	float: left;
	width: 350px;
	margin: 0 0 10px 0;
	padding: 0 30px 0 0;
	
}
input#ninja_forms_field_1.ninja-forms-field {
	width: 100%;
}
label#ninja_forms_field_2_label {
	float: left;
	margin: 0 0 10px 0;
	
}
div#ninja_forms_field_2_div_wrap.field-wrap.text-wrap.label-above {
	float: left;
	width: 350px;
	margin: 0 0 10px 0;
	
}
input#ninja_forms_field_2.ninja-forms-field.email {
	margin: 0;
}
div#ninja_forms_field_3_div_wrap.field-wrap.text-wrap.label-above {
	width: 100%;
}
textarea#ninja_forms_field_3.ninja-forms-field {
	/*clear: both;*/
	float: left;
	margin: 0 20px 10px 0;
	
}
input#ninja_forms_field_4.ninja-forms-field {
	float: right;
	border: 0;
    background: #45ac9d;
    padding: 11px 60px;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	/*border-radius: 5px;*/
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    letter-spacing: .5px;
    margin: 0;
}

/* About Page */

.about-page {
	background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
    background-position: center bottom !important;
    height: 200px;
    margin: 0 0 80px 0;
    padding: 70px 0;
}
}
div.about-hero {
	width: 600px;
	margin: auto;
	
}
div.about-hero p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
	line-height: 1.25em;
	text-align: center;
    margin: 16px 0 80px;
}

div.about-hero a {
    color: #45ac9d;
    text-decoration: none;
}
div.site-content.services h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
div.site-content.services p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 10px 0;
}
li.row_1_image h5 {
	background: red;
}
/* Services Single Page */

article.services {
	margin: 40px 0 0 0;
}

aside.services-sidebar {
	float: left;
	width: 340px;
	margin: 0 10px 0 65px;
}

div.services-images {
	float: left;
	width: 610px;
	margin-bottom: 50px;
	border: 1px solid #dddddd;
}
ul.about-services {
	list-style-type: none;
    margin: 0 0 24px 60px;
}