/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

#masthead nav ul li {
	float: left;
	margin: 0 10px;
}

ul#menu-top-nav {
    margin: 0;
}

/* Blog post on Homepage */


.blog-post {
	width: 50%;
}

.blog-post h4 {
	font-size: 16px;
	font-family: 'Montserrat';
	color: #a6a6a6;
	text-transform: uppercase;
}

.blog-post h2 {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
}
.blog-post .read-more-link {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}

/* Case Studies on Homepage */

.site-content {
    width: 1000px;
    margin: auto;
    
}

ul.homepage-featured-work {
	list-style-type: none;
    margin: 0 0 24px 0;
}

li.individual-featured-work {
	display: inline-block;
    margin: 0 5px;
	
}
h3 {
	font-family: 'Montserrat';
	text-align: center;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
    line-height: 1.2;
	margin: 0 0 20px 0;
}

.featured-work h4 {
	font-family: 'Montserrat';
    text-align: center;
	margin: 0 0 44px 0;
    
}

.blog-post h4 {
    text-align: left;
}

/*img {
	width: 300px;
    height: 221px;
	margin: 0 10px;
}*/

.blog-post .read-more-link {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #45ac9d;
    text-transform: uppercase;
}
/* Case Studies */

article.case-study {
	margin: 40px 0 0;
}

aside.case-study-sidebar {
	float: left;
	width: 300px;
	margin: 0 40px 0 0;
}

div.case-study-images {
	float: left;
	width: 600px;
}

div.case-study-images img {
	
	margin-bottom: 50px;
	border: 1px solid #dddddd;
}