/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

#masthead nav ul li {
	float: left;
	margin: 0 10px 0 0;
}

ul#menu-top-nav {
    margin: 0;
}

.site-title {
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}


/* Blog post on Homepage */


.blog-post {
	width: 50%;
	
}

.blog-post h4 {
	font-size: 18px;
	font-family: 'Shanti', sans-serif;
	color: #a6a6a6;
	text-align: left;
	text-transform: uppercase;
}

.blog-post h2 {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1.2px;
}
div.blot-post p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.2px;
}
a.read-more-link {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}

/* Case Studies on Homepage */


.featured-work {
    width: 1200px;
    margin:auto;
}

ul.homepage-featured-work {
	list-style-type: none;
    margin: 0 0 24px 60px;
}
.homepage-featured-work img {
	width: 300px;
	height: 221px;
	
}
li.individual-featured-work {
    display: inline-block;
    margin: 0 30px;
}

.site-content {
	width: 1200px;
   /* margin: auto;*/
    padding: 0 10px;
	
}
div.site-content h4 {
	text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 44px 0;
}
div.blog-post h4 {
	text-align: left;
	font-size: 24px;
    line-height: 1.2;
    margin: 40px 0 44px 0;
}

div.blog-post p {
	    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 85%;
    margin: 40px 0 25px 0;
	
}
a.read-more-link {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #45ac9d;
    text-transform: uppercase;
}
/*
h3 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

/*




*/

/* Case Studies Single*/

article.case-study {
	margin: 40px 0 0;
}

aside.case-study-sidebar {
	float: left;
	width: 340px;
	margin: 0 10px 0 65px;
}

div.case-study-images {
	float: left;
	width: 610px;
	margin-bottom: 50px;
	border: 1px solid #dddddd;
}


/* Case Studies Archive Page */

div#primary.site-content {
	width: 1200px;
    margin: auto;
}
.case-study-sidebar h2 a {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 600;
}
.case-study-sidebar h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #a6a6a6;
	margin: 10px 0 20px;
}

.case-study-sidebar p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	/*font-weight: 400;*/
}